
.button i.back {
  display: inline-block;
  text-rendering: auto;
  background-image: url('./img/back.svg');
  background-repeat: no-repeat;
}

.button i.refresh {
  display: inline-block;
  text-rendering: auto;
  background-image: url('./img/refresh.svg');
  background-repeat: no-repeat;
}
