body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.start {
  display: flex;
  justify-content: center;
  align-items: center
}

.main-btn {
  padding: 5rem;
  margin: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 3rem;
  border: 2px solid silver;
  border-radius: 10px;
  color: silver
}

.main-btn:hover {
  color: #666;
  background-color: #999;
  transition: all .2s ease-in
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}

.deck {
  transform: translateY(25vh)
}

.deck,
.stack {
  position: relative
}

.stack {
  display: block
}

.deck .opened {
  right: calc(50% + 10rem);
  position: absolute
}

.deck .closed {
  left: calc(50% + 10rem);
  position: absolute
}

.deck .review {
  transform: translateY(20rem);
  position: absolute;
  left: 20%
}

.card {
  border-radius: 5px;
  border: 1px solid silver;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  background-color: #fff
}

.card_image {
  width: 12.5rem;
  height: 20rem
}

.back {
  border-radius: 5px;
  display: inline-block;
  position: absolute
}

.back .card_image {
  width: 14.8rem;
  height: 22.2rem
}

.board_image {
  width: 14vh;
  margin: .2rem
}

.board_tile {
  display: inline-block;
  position: relative
}

.token {
  position: absolute;
  width: 10vh;
  z-index: 1;
  left: 1.2rem;
  top: 4rem
}


.board {
  text-align: center
}